

@media(max-width:420px){
    .zom{
        width: 100%;
        height:18px;
    }
    .logo{
        width: 200px;
        height: 30px;
        margin-top: 10px;
      
    }
    .icon{
        position: absolute;
        left: 95px;
        margin-top: 8px;
        
    }
    .search{
        width:180px ;
        
        border-radius: 8px;
        height: 30px;
        position: relative;
    }
    
    .search-container{
        
        width: 230px;
        padding: none;
        margin: none;
    }
   
    .log{
        width: 50px;
        font-size: 10px;
        background-color: white;
        border: none;
        color: lightgray;
        font-size: 10px;
        margin-right: 5px;
    }
    .start{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 330px;
        
        gap: 5px;
        
    }
    .para{
        font-size: 13px;
        margin-top: 20px;
    }
    .deliverypic{
        
        padding: 8px;
        width: 25px;
        clip-path: circle();
        background-color: #FCEEC0;
    }
    .deltext{
        font-size: 11px;
    }
    .delivery{
        display: flex;
        
    }
    .diningpic{
        
        padding: 8px;
        width: 25px;
        clip-path: circle();
        background-color: #FCEEC0;
    }
    .dintext{
        font-size: 11px;
    }
    .dining{
        display: flex;
        
    }
    .nightpic{
        
        padding: 8px;
        width: 25px;
        clip-path: circle();
        background-color: #FCEEC0;
    }
    .nighttext{
        font-size: 11px;
    }
    .night{
        display: flex;
        
    }
    .start1{
        display: flex;
        gap: 15px;
        margin-top: 25px;
    }
    .b1{
        border: 1px solid;
        width: 50px;
        padding: 4px;
        border-radius: 5px;
        color: gray;
        
    }
    .start2{
        display: flex;
        gap: 10px;
        margin-top: 10px;
        position: sticky;
    }
    .inspirationp{
       
        font-size: 18px;
    }
    .pic1{
        width: 100px;

    }
    .text1{
        font-size: 15px;
        margin-left: 24px;
        
    }
    .pic2{
        width: 100px;
        clip-path: circle(); 
    }
    .text2{
        font-size: 15px;
        margin-left: 28px;   
        
    }
    .ins{
        display: flex;
        gap: 20px;
        overflow-x: auto;
        transition: 1s;

    }
    .pics1{
        width: 100px;

    }
    .texts1{
        font-size: 15px;
        margin-left: 24px;
    }
    .time1{
        margin-left: 24px;
    }
    .pics2{
        width: 100px;
    }
    .texts2{
        font-size: 15px;
        margin-left: 24px;
    }
    .time2{
        margin-left: 24px;
    }

}
